# directories to download examples
polyseq/examples/sample_brain
!polyseq/examples/sample_brain/.gitkeep
polyseq/examples/sample_vnc
!polyseq/examples/sample_vnc/.gitkeep


# python stuff
*.egg*
__pycache__
*.pyc
.DS_Store
.ipynb_checkpoints
.idea
